# frontend 
build/bin
node_modules
frontend/dist
frontend/*.mjs

# system 
configs/*.yaml
configs/*.yml
assets/db/*.db

# normal local files 
.DS_Store
.vscode/*
*.log
*.local

# must include 
!assets/db/images.db