# frontend 
build/bin
node_modules
frontend/dist
frontend/*.mjs
frontend/package.json.md5
frontend/wailsjs

# system 
configs/*.yaml
configs/*.yml
configs/.env
assets/db/*.db
configs/.env

# normal local files 
.DS_Store
.vscode/*
*.log
*.local

# must include 
!assets/db/static_assets.db