udpDBDir:              "./assets/db/udp.db"
imageDBDir:            "./assets/db/images.db"
petImageFolder:        "./assets/petImages/default/"
itemsImageFolder:      "./assets/items/default/"
activitiesImageFolder: "./assets/activities/default/"