html,
body {
    height: 100%;
    margin: 0;
    background: transparent;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    overflow: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#root {
    height: 100vh;
    text-align: center;
}
